@{
    ViewData["Title"] = "This is the message from controller!";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p> There is a report message! Click here <a href="~/Report/Message">Report Message</a></p>
</div>
