@*@model MessageViewModel*@
@{
    ViewData["Title"] = "Report Message";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>Message: @ViewData["Message"]</h2>
    <p>From: @ViewData["From"]</p>
</div>

