@{
    double readDuration = (double)ViewData["readDuration"];
    double writeDuration = (double)ViewData["writeDuration"];
}

<h1>Response Time</h1>
<p>Read avg response time: <b>@readDuration</b> secs</p>
<p>Write avg response time: <b>@writeDuration</b> secs</p>
